/*colors  (names from https://chir.ag/projects/name-that-color/#6195ED)
****************************************************************/
$c-black: #000;
$c-white: #fff;
$c-white_opacity: rgba(255, 255, 255, 0.7);
$c-DustyGray: #9C9C9C;
$c-Malibu: #61dafb;
$c-Apricot: #E49362;


/*paddings, margins
****************************************************************/

$space-xx-small: 5px;
$space-x-small: 10px;
// $space-standard: 15px;


/*breaks
****************************************************************/
$break-high: 1250px;


/*fonts
****************************************************************/
$f-baseFontFamily: 'Roboto',
sans-serif;

/*buttons
****************************************************************/
$button-small: 175px;
$squareButton: 4vh;

/*lists  (w stylach->  width: nth($sizes,2);)
****************************************************************/
$sizes: 8.33333%,
16.66666%,
25%,
33.33333%,
41.66666%,
50%,
58.33333%,
66.66666%,
75%,
83.33333%,
91.66666%,
100%;